includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 5

    paths:
        - app
        - config
        - routes
        - database/factories
        - database/seeders
        - tests

    excludePaths:
        analyse:
            - bootstrap/cache
            - node_modules
            - public/build
            - storage
            - vendor

    parallel:
        maximumNumberOfProcesses: 1

    tmpDir: storage/framework/cache/phpstan
